<h1> Class & Style Binding </h1>

<h2>Class Binding</h2>

<label for="select-alert">
   Select a type of alert: 
</label>
<select name="select-alert" #alert_class (change)="0">
   <option value="alert-success"> Success </option>
   <option value="alert-info"> Info </option>
   <option value="alert-warning"> Warning </option>
   <option value="alert-danger"> Danger </option>
</select>

<div role="alert" class="alert {{ alert_class.value }}" >
   Look at me!
</div>


<h2>Style Binding</h2>

<small class="text-muted"> * select Danger above ;) * </small>

<div class="alert alert-danger" role="alert" 
   [style.display] = "alert_class.value == 'alert-danger' ? 'block' : 'none'" 
>
   <span> This text only appears in case of errors. </span>
</div>