<h2> Event Binding </h2>

<input type="text"
   value="{{ input_email }}"
   (change)="input_email = $event.target.value"
>

<button class="btn btn-primary"
   (click)="sendEmail()"
>
   Submit Email
</button>

<br/>

<p> Email sent:  <b>{{ sent_email }}</b> </p>

<hr>

<span> Search fruit: </span>
<input type="text" class="fruit_input" #fruit_input
   (keyup)="requested_fruit = fruit_input.value.charAt(0).toUpperCase();"
>

<ul class="fruit_list">
   <li *ngFor="let fruit of filterFruits(requested_fruit)" >
      <span> {{ fruit }} </span>
   </li>
</ul>
