<h1> Content rendered with interpolation: </h1>
<ul>
   <!-- Simple variable -->
   <li>
      <p> {{ favorite_framework }} is my favorite framework! </p>
   </li>

   <!-- Expressions -->
   <li>
      <p> 1 + 1 = {{ 1 + 1 }} </p>
   </li>

   <!-- Methods -->
   <li>
      <p> 8 * 7 = {{ multiply(8, 7) }} </p>
   </li>

   <!-- Logic Expressions -->
   <li>
      <p> True && False = {{ true && false }} </p>
   </li>

   <!-- Source Links -->
   <li>
      <p>
         <img src="{{ nature_img }}" alt="Picture of the nature">
      </p>
   </li>
</ul>


